* {
  margin: 0;
  padding: 0;
}

body {
  background: url(./img.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow-y: hidden;
}

#road {
  border: 5px solid #fff;
  background: url(road.png) repeat-y;
  height: 1200vh;
  width: 52vw;
  position: relative;
  top: -100vh;
  z-index: -10;
  animation: roadanimation infinite 20s linear;
}

#start {
  position: absolute;
  /* top: 60vh; */
  /* left: 47vw; */
  z-index: 100;
  font-size: 2rem;
  background-color: rgb(245, 99, 99);
  color: white;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}

#score {
  background: url(./bg-1.gif) no-repeat center;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  padding: 5px;
  border-radius: 20px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#enemycar1 {
  /* display: grid; */
  /* place-items: center; */
  position: relative;
  width: 100px;
  height: 100px;
  left: 310px;
  /* left: 230px; */
  z-index: 1001;
  /* animation: ecar1 infinite linear 3s; */
}

#enemycar2 {
  /* display: grid;
        place-items: center; */
  position: relative;
  width: 100px;
  height: 100px;
  left: 100px;
  /* left: 150px; */
  z-index: 1001;
  /* animation: ecar2 infinite linear 4s; */
}

#enemycar3 {
  /* display: grid;
        place-items: center; */
  position: relative;
  width: 100px;
  height: 100px;
  left: -100px;
  /* left: -50px; */
  /* left: -140px; */
  z-index: 1001;
  /* animation: ecar3 infinite linear 6s; */
}

#enemycar4 {
  /* display: grid;
        place-items: center; */
  position: relative;
  width: 100px;
  height: 100px;
  left: -300px;
  /* left: -330px; */
  /* left: -220px; */
  top: -250px;
  z-index: 1001;
  /* animation: ecar4 infinite linear 2s; */
}

.ecarimg {
  width: 80px;
  /* border: 2px solid red; */
}

.mycarimg {
  border: 2px solid rgb(255, 234, 0);
  width: 80px;
  border-radius: 30px;
}

#mycar {
  width: 100px;
  height: 100px;
  position: relative;
  top: 15vh;
  /* left: -1080px; */
}

@keyframes ecar1 {
  0% {
    top: -30vh;
  }

  100% {
    top: 100vh;
  }
}

@keyframes ecar2 {
  0% {
    top: -50vh;
  }

  100% {
    top: 100vh;
  }
}

@keyframes ecar3 {
  0% {
    top: -60vh;
  }

  100% {
    top: 100vh;
  }
}

@keyframes ecar4 {
  0% {
    top: -80vh;
  }

  100% {
    top: 100vh;
  }
}

@keyframes roadanimation {
  0% {
    top: -1100vh;
  }

  100% {
    top: -200vh;
  }
}
